<%- include('../partials/head.ejs') %>

<section class="container">
    <canvas id="chart" width="80vw" height="40vh"></canvas>
</section>
<div class="container">
    <h3 class="text-center">Search by Country</h3>
    <div class="row justify-content-center">
        <form action="/statistics" method="POST" class="col-10 col-sm-5 card p-4">
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" name="country" id="country">
                <% if(err){ %>
                    <p class="m-0 text-danger"><%= err %></p>
                <% } %>
            </div>
            <button class="btn btn-primary" type="submit">Get Statistics</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/static/js/totalCasesChart.js"></script>
<script src="/static/js/mapStatistics.js"></script>

<%- include('../partials/footer.ejs') %>